[submodule "themes/free2mind"]
	path = themes/free2mind
	url = https://github.com/rudy-yuan/free2mind
[submodule "themes/freemind"]
	path = themes/freemind
	url = https://github.com/wzpan/hexo-theme-freemind.git
[submodule "themes/hipaper"]
	path = themes/hipaper
	url = https://github.com/iTimeTraveler/hexo-theme-hipaper.git
[submodule "themes/hipaper2"]
	path = themes/hipaper2
	url = git@github.com:hotbaby/hexo-theme-hipaper.git
